.charts-box li,
.charts-box ul {
    margin: 0;
    padding: 0
}

.charts-box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    zoom: 1
}

.charts-title {
    font-size: 28px;
    color: #367fc7;
    height: 60px;
    line-height: 60px
}

.charts-side {
    width: 162px;
    overflow: hidden;
    float: left
}

.charts-side-tabs {
    border: 1px solid #d5d5d5;
    margin-bottom: 20px
}

.charts-side-tabs li {
    border-bottom: 1px solid #efefef;
    background: #fff
}

.charts-side-tabs li a {
    display: block;
    zoom: 1;
    height: 34px;
    line-height: 34px;
    padding-left: 20px;
    font-size: 14px
}

.charts-side-tabs li.current {
    background-color: #efefef;
}

.charts-side-tabs li.current a {
    color: #fff
}

.charts-side-ad li {
    margin-bottom: 20px;
    text-align: center
}

.charts-side-ad li img {
    width: 160px;
    height: 80px
}

.charts-content {
    float: right;
    width: 800px;
    overflow: hidden;
    zoom: 1
}

.charts-tabs {
    border-bottom: 2px solid #529bef;
    margin-bottom: 20px
}

.charts-tabs li {
    float: left;
    font-size: 14px;
    margin-right: 5px;
    height: 27px;
    line-height: 27px;
    border-radius: 2px 2px 0 0;
    box-shadow: 1px 0 4px #B7B6B6;
    background: #fff;
    cursor: pointer;
    font-size: 14px
}

.charts-tabs li a {
    color: #969696;
    height: 27px;
    line-height: 27px;
    display: block;
    padding: 0 20px
}

.charts-tabs li:hover,
.charts-tabs li:hover a {
    color: #529bef
}

.charts-tabs li.selected {
    background: #529bef;
    cursor: default;
    color: #fff;
    padding: 0 20px
}

.charts-tabs li.selected a {
    color: #fff
}

.chart-data,
.chart-section {
    background: #fff;
    box-shadow: 1px 2px 4px #ddd
}

.charts-kinds {
    border: 1px solid #fafafa;
    border-bottom: 0;
    border-bottom: none;
    height: 41px;
    text-align: right;
    padding: 10px 24px 0 0;
    background-color: #efefef;
}

.charts-kinds a {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    border-radius: 2px;
    line-height: 20px;
    zoom: 1
}

.charts-kinds a.selected {
    background: #93bff0;
    color: #fff
}

.chart-list {
    display: none;
    padding-bottom: 20px
}

.chart-list li {
    padding: 10px 15px
}

.chart-list li:hover {
    background: #f8f8f9
}

.chart-list li span {
    display: inline-block;
    overflow: hidden;
    margin-right: 4px;
    height: 16px;
    vertical-align: top;
    line-height: 16px;
    zoom: 1;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
}

.rank-T3,
.rank-other {
    border-radius: 2px;
    text-align: center;
    line-height: 14px
}

.rank-other {
    display: block;
    border: 1px solid #5c5c5c;
    color: #5c5c5c
}

.rank-T3 {
    display: block;
    border: 1px solid #3690da;
    background: #529bef;
    color: #fff
}

.chart-list li.chart-cut:hover {
    background: 0 0
}

.chart-list li.chart-cut i {
    display: block;
    height: 1px;
    border-bottom: 1px dashed #dadada;
    font-size: 0;
    line-height: 0
}

.chart-list li.rank1 {
    height: 100px
}

.chart-box {
    width: 830px;
    zoom: 1
}

.selected {
    display: block
}


/* OY自定义  */

.chart-list .up {
    color: #c34131;
}

.chart-list .down {
    color: #2e8b57;
    /*seagreen;*/
}

.chart-data {
    min-height: 550px;
}

.charts-kinds {
    text-align: left;
    padding-left: 15px;
}

.charts-content {
    float: none;
    margin: 0 auto;
    font-family: 微软雅黑, Arial;
}

i.rank-T3,
i.rank-other {
    font-style: normal;
    font-size: 12px;
    width: 16px;
}

.chart-list {
    padding-left: 0;
}

.t-1 {
    width: 35px;
}

.t-2 {
    width: 160px;
}

.t-3 {
    width: 200px;
}

.t-4 {
    width: 60px;
}

.t-5,
.t-6,
.t-7 {
    width: 80px;
}

@media (max-width: 991px) {
    .charts-content {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .chart-list .t-3,
    .chart-list .t-4 {
        display: none;
    }
}