<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>冠影 · PREMIER MOVIE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {{{styles}}}
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Header start -->
    <header id="header" role="banner">
        <nav class="navbar navbar-default {{#if isIndex}} navbar-fixed-top {{else}} top-nav-collapse on {{/if}}" id="tf-menu">
            <div class="container">
                <div class="row">
                    <!-- Logo start -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
                        <div class="navbar-brand">
                            <a href="index.html" class="page-scroll">
                                <img class="img-responsive" src="images/pmlogo.png" alt="冠影">
                            </a>
                        </div>
                    </div>
                    <!--/ Logo end -->
                    <div class="collapse navbar-collapse clearfix navMenu" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a class="page-scroll" href="index.html#header">主页</a></li>
                            <li><a class="page-scroll" href="index.html#feature">核心技术</a></li>
                            <li><a class="page-scroll" href="index.html#overview">产品服务</a></li>
                            <li><a class="page-scroll" href="index.html#contact">联系我们</a></li>
                        </ul>
                    </div>
                    <!--/ Navigation end -->
                </div>
                <!--/ Row end -->
            </div>
            <!--/ Container end -->
        </nav>
    </header>
    <!--/ Header end -->

    {{{body}}}

    
    <!-- Back To Top Button -->
    <div id="back-top">
        <a href="#header" class="page-scroll btn btn-primary">^</a>
    </div>
    <!-- End Back To Top Button -->
    <!-- section Footer start  -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-content text-center">
                        <a href="#slider-part" class="page-scroll logo-title">
                            <img src="images/pmlogo.png" alt="" class="img-responsive">
                        </a>
                        <ul class="footer-socail list-inline">
                            <li>合作伙伴:</li>
                            <li><a href="http://www.suftv.shu.edu.cn/"><img class="img-responsive" src="images/shulogo.png" title="上海电影学院"></a></li>
                            <li><a href="http://www.crifst.ac.cn/"><img class="img-responsive" src="images/crifst.jpg" title="中国电影科学技术研究所"  style="transform: translate(0, 25%);"></a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                <p>&copy; copyright reserved to <span>冠影 · PREMIER MOVIE</span> - 2017</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end  -->
        </div>
        <!-- container end  -->
    </footer>
    <!-- section Footer end  -->

    <!-- Back To Top Button -->
    <div id="back-top">
        <a href="#header" class="page-scroll btn btn-primary">^</a>
    </div>
    <!-- End Back To Top Button -->

    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script>
    // scroll body to 0px on click
    $('body').on('click','#back-top',function() {
        // $('#back-top a').tooltip('hide');
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
    });
    </script>
    {{{scripts}}}
</body>

</html>