    <section>
        <div class="container">
            <div class="row">
                <div class="heading-inner text-center">
                    <h2 class="sec-title">加载中···</h2>
                </div>
            </div>
            <!-- top section -->
            <div class="row">
                <div class="charts-box clearfix">
                    <div class="charts-content">
                        <div class="chart-box clearfix">
                            <div class="chart-data section1">
                                <div class="charts-kinds"><a href="javascript:;"class="j-tab selected"></a></div>
                                <ol class="chart-list j-for selected"><div class="loading"></div></ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section top end -->
        </div>
    </section>