    <section>
        <div class="container">
            <div class="row">
                <div class="heading-inner text-center">
                    <h2 class="sec-title" id="sec-title">加载中···</h2>
                </div>
            </div>
            <!-- top section -->
            <div class="row">
                <div class="charts-box clearfix">
                    <div class="charts-content">
                        <div class="chart-box clearfix">
                            <div class="chart-data" id="chart-data">
                                <div class="loading"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section top end -->
        </div>
    </section>