
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Product Image & Available Colors -->
                <div class="col-sm-2">
                    <div class="product-image-large">
                        <img>
                    </div>
                </div>
                <!-- End Product Image & Available Colors -->

                <!-- Product Summary & Options -->
                <div class="col-sm-4 product-details"></div>
                <!-- End Product Summary & Options -->

                <div class="col-sm-6 tab-pane" id="tab2">
                    <table></table>
                </div>
                <!-- Full Description & Specification -->
                <div class="col-sm-12">
                    <div class="tabbable">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs product-details-nav">
                            <!--<li class="active"><a href="#tab1" data-toggle="tab">图表数据</a></li>
                            <li><a href="#tab2" data-toggle="tab">基本信息</a></li>-->
                        </ul>
                        <!-- Tab Content (Full Description) -->
                        <div class="tab-content product-detail-info">
                            <div class="tab-pane active" id="tab1">
                                <div id="bar_dom">
                                    <h1 style="text-align: center;"><div class="loading"></div>加载中···</h1>
                                </div>
                                <div id="pie_dom"></div>
                                <div id="key_dom" class="cloud"></div>
                            </div>
                            <!-- Tab Content (Specification) -->
                            <!--<div class="tab-pane" id="tab2">
                                <table></table>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- End Full Description & Specification -->
            </div>
        </div>
    </div>